#download-content {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 48px;
  margin-bottom: 45px;
  padding-top: 10px;
}

.download-path-label {
  text-align: left;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  font-weight: bold;
}

.download-goback-button {
  float: right;
  height: 32px;
  width: 100px;
}

.download-current-path {
  border: 1px solid springgreen;
}

.table-title {
  font-weight: bold;
}

.download-opt-button {
  width: 60px;
}