.sysinfo-loading {
  position: fixed;
  top: 45%;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
}

#sysinfo-content {
  text-align: center;
  margin-top: 48px;
  padding-bottom: 45px;
}

#sysinfo-dashboard-area {
  border: 1px solid rgb(24, 144, 255);
  background-color: azure;
  padding-top: 20px;
  margin: 10px 10px 0 10px;
  border-radius: 4px;
  width: 80%;
  display: inline-block;
}

.sysinfo-dashboard {
  display: inline-block;
  width: 145px;
  height: 145px;
  text-align: center;
  padding-top: 3px;
  margin-left: 10%;
}

.sysinfo-dashboard-first {
  margin-left: 0;
}

.sysinfo-table {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
}

.ant-table-body {
  margin: 0 !important;
}

.sysinfo-chart {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.table-title {
  font-weight: bold;
}