#visit-content {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 48px;
  margin-bottom: 45px;
  padding-top: 10px;
}

.visit-chart {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

#visit-date {
  text-align: left;
  margin-top: 20px;
}

.visit-query {
  margin-left: 10px;
  width: 100px;
}

.visit-table {
  margin-top: 8px;
}

.visitlog-loading {
  position: fixed;
  top: 45%;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: auto;
}

.table-title {
  font-weight: bold;
}