<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网站访问统计</title>

    <style type="text/css">
        table{width: 50%; border: cadetblue 1px solid;}
        td{
            text-align: center;
            /*border: aqua 1px solid;*/
        }
    </style>
</head>
<body>

<div th:if="${model.code}==200">
    <div th:if="${model.data.isDetail}==false">
        <h3>历史记录</h3>
        <div th:each="item, state : ${model.data.dateList}">
            <a th:href="@{{base}/{date}(base=${#request.getRequestURI()}, date=${item})}"
           th:text="${item}">0000-00-00</a>
            <br>
        </div>
    </div>

    <div th:if="${model.data.isDetail}==true">
        <table>
            <caption>
                <h2><span th:text="${model.data.date}"></span>的访问详情</h2>
            </caption>
            <tr>
                <th>IP</th>
                <th>Visit Count</th>
                <th>Location</th>
            </tr>
            <tr th:each="item, state : ${model.data.visitorList}">
                <td th:text="${item.key}"></td>
                <td th:text="${item.value[0]}"></td>
                <td th:text="${item.value[1]}"></td>
            </tr>
        </table>
    </div>
</div>
<div th:if="${model.code}==500">
    <p th:text="${model.msg}" style="color: red"></p>
</div>
</body>
</html>